body{
    background-color: black;
}

header{

font-size: 20px;
width: 100%;

.logo{
    fill: white;
    width: 100px;
}
.logoadobe{
    fill: white !important;
    height: 80px;

}
}
header{

    width: 100%;
ul{
    margin: 0px;
    
    
    li{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: white;
        margin: 0;
        list-style: none;
        text-decoration: none;
        display: inline;
        padding: 10px;
    }

}

}